<!--Criar um form onde se envia uma molecula
A molecula é recebida e entao se mostra a mensagem "sua molecula foi recebida"-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/upload">
        {{ form.hidden_tag() }}
        {{ form.molecule.label }} {{ form.molecule() }}
        {{ form.submit() }}
    </form>
    
    
</body>
</html>