{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
	<style>
		body { background: #e8f1f9; }
	</style>
{% endblock %}


{% block title %}
Molecula Enviada
{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="ccol-md-4 col-lg-offset-4">

      <h1 class="pt-5 pb-2">Sua Molecula foi enviada e será processada!</h1>
      <h1 class="pt-5 pb-2">Seu link de acesso para os resultado é: </h1>
      <a href="/jobs/{{job_id}}">results</a> 
      <h1>Status: {{result_status}}</h1>
      {% if result_status == "SUCCESS": %}
        {% for result in result_data %}
          {{ result['InchI'] }}
        {% endfor %}
      {% endif %}
    </div>
</div>
</div>

{% endblock %}






